footer {
  position: absolute;
  bottom: 0vh;
  left: 50%;
  transform: translateX(-50%);
}

.col-sm-12 {
  padding: 0;
}

.btn {
  margin-top: 1em;
  width: 100%;
  background-color: #A28639;
  font-size: 2em;
}

.buttonContainer {
  position: absolute;
  width: 105%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20vh;
}

body {
  background-color: #BCEFEE;
  font-family: 'Pacifico', cursive;
  padding: 0;
}

h1 {
  font-size: 4.5rem;
  color: #A28639
}

img {
  margin-top: 3em;
}